html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.box, select, input[type="text"], input[type="password"], textarea, .buttons {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.arial, body, .normal {
  font-family: Arial, sans-serif; }

body, .normal {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3em; }

h1, h2 {
  font-weight: 400;
  color: #0096ff; }

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.3em; }

h2 {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 1.3em; }

label {
  position: relative;
  line-height: 1em; }

.small {
  font-size: 12px;
  line-height: 1.35em; }

.extrasmall {
  font-size: 10px;
  line-height: 1.3em; }

.medium {
  font-size: 16px;
  line-height: 1.3em; }

.centered {
  text-align: center; }

b, strong, .b {
  font-weight: 700; }

i, .i, em {
  font-style: italic; }

body, .black, .black a {
  color: #464646; }

.extrablack, .extrablack a {
  color: #000; }

a:hover {
  text-decoration: none; }

a, .blue, .blue a {
  color: #0096ff; }

.ghost a {
  text-decoration: none;
  border-bottom: 1px dotted; }

.ghost a:hover {
  border-bottom: none; }

abbr, .abbr {
  text-decoration: none;
  border-bottom: 1px dashed; }

abbr:hover, .abbr:hover {
  border: 0; }

.white, .white a {
  color: #fff; }

.gray, .gray a {
  color: #7b7b7b; }

.orange, .orange a {
  color: #ff9600; }

.yellow, .yellow a {
  color: #ffe06c; }

.red, .red a {
  color: #bd0c08; }

.blue-bg {
  background-color: #0096ff; }

.orange-bg {
  background-color: #ff6c00; }

.nodecor a {
  text-decoration: none; }

.revdecor a {
  text-decoration: none; }

.revdecor a:hover {
  text-decoration: underline; }

.shadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow_: 0 2px 4px rgba(0, 0, 0, 0.1); }

input[type="radio"] {
  margin: 0 0.5em; }

select, input[type="text"], input[type="password"], textarea, .buttons {
  display: block;
  font-size: 12px;
  line-height: 1em;
  border: 1px solid #afafaf;
  background-color: #FFFFFF;
  outline-style: none;
  outline-width: medium;
  vertical-align: middle; }

select, input[type="text"], input[type="password"], textarea {
  padding: 1px 5px; }

.buttons {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  display: inline-block;
  padding: 8px 13px 9px;
  border: none;
  white-space: nowrap;
  line-height: 1em;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  background-color: #0096ff;
  color: #FFFFFF;
  transition: all 0.2s ease 0s;
  cursor: pointer; }

.buttons:hover {
  background-color: #33abff; }

.services-form label {
  position: relative;
  top: -2px;
  margin-left: 3px; }

.services-form .inputs,
.booking-form {
  padding: 20px 20px 25px;
  background-color: #eee;
  border-bottom: 1px #ddd solid; }

.services-form input[type="text"],
.services-form input[type="password"],
.services-form textarea,
.booking-form input[type="text"],
.booking-form input[type="password"],
.booking-form textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #b7bfcf;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 8px 10px 8px; }

.services-form .form-title {
  font-size: 14px;
  line-height: 1em; }

.services-form .form-title a {
  display: inline-block;
  float: left;
  width: 33.333%;
  padding: 12px 0;
  text-align: center;
  background-color: #ebebeb;
  border-bottom: 1px #ddd solid;
  color: #464646;
  text-decoration: none;
  transition: all 0.2s ease; }

.services-form .form-title a:last-child {
  float: none; }

.services-form .form-title a:hover {
  background-color: #eee; }

.services-form .form-title a.active {
  background-color: #0096ff;
  border-bottom: 1px #0096ff solid;
  color: #fff; }

.services-form .title {
  margin-bottom: 3px; }

.services-form .free-checkers {
  padding-top: 25px; }

.services-form .lc {
  float: left;
  width: 48%; }

.services-form .rc {
  float: right;
  width: 48%; }

.services-form .rows,
.services-form .rows {
  margin-bottom: 15px; }

.services-form .form-sections.h {
  display: none; }

.services-form .inline li {
  display: inline-block; }

.services-form .inline .datepicker input {
  width: 80%;
  margin: 0; }

.services-form .mins-sep {
  display: inline-block;
  padding: 6px 1px;
  font-size: 18px;
  line-height: 1em; }

.services-form .vert-set li {
  margin-bottom: 5px; }

.services-form .vert-set li:last-child {
  margin-bottom: 0; }

.booking-form {
  padding: 25px 0; }

.booking-form .row-wrapper {
  margin-bottom: 12px; }

.booking-form .row {
  display: table-row; }

.booking-form .cell {
  display: table-cell;
  vertical-align: middle; }

.booking-form .cell:first-child {
  width: 315px;
  padding-right: 15px;
  text-align: right; }

.booking-form .cell:last-child {
  width: 200px; }

.booking-form .cell.vat {
  vertical-align: top; }

body {
  background-image: url("../img/body.png");
  background-color: #e3e3e3; }

.content-wrapper {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  background-color: #fff; }

.h {
  display: none; }

.l {
  float: left; }

.r {
  float: right; }

.w100 {
  width: 100%; }

.w75 {
  width: 75%; }

.w50 {
  width: 50%; }

.w25 {
  width: 25%; }

.clear {
  position: relative !important;
  float: none !important;
  clear: both !important;
  overflow: hidden !important; }

.extra-section {
  margin-bottom: 40px; }

.section {
  margin-bottom: 20px; }

.mini-section {
  margin-bottom: 10px; }

.micro-section {
  margin-bottom: 5px; }

.c14 {
  width: 182px; }

.c13 {
  width: 242px; }

.c12 {
  width: 50%; }

.c23 {
  width: 698px; }

.lm {
  margin-left: 60px; }

.mini-lm {
  margin-left: 15px; }

.fc23 {
  width: 758px; }

.table {
  display: table; }

.tr {
  display: table-row; }

.td {
  display: table-cell;
  vertical-align: middle; }

.body ul li, .body ol li {
  list-style-position: outside;
  margin-left: 35px; }
.body ul li {
  list-style: disc; }
.body ol li {
  list-style: decimal; }
.body table {
  border-top: 1px #ccc solid;
  border-left: 1px #ccc solid; }
  .body table td, .body table th {
    padding: 7px 12px;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid; }
  .body table th {
    color: #005c69; }

.inline-icons i {
  display: inline-block;
  float: left;
  width: 19px;
  height: 19px;
  margin-right: 3px;
  background-image: url("../img/im.png"); }
  .inline-icons i.skype {
    background-position: -19px 0; }
.inline-icons span {
  display: inline-block;
  float: left;
  padding-top: 1px;
  margin: 0 8px 0 0; }
  .inline-icons span:last-child {
    float: none; }
  .inline-icons span .skype-addr {
    padding-left: 2px; }

.callback-contols {
  position: absolute;
  z-index: 10;
  width: 100%; }
  .callback-contols > div {
    width: 200px;
    margin: 10px auto 0;
    text-align: center; }
  .callback-contols a {
    display: inline-block;
    height: 63px;
    background-image: url("../img/callback.png");
    background-repeat: no-repeat;
    background-position: 50% 100%; }

.header {
  position: relative;
  padding: 10px 75px; }
  .header .l li, .header .r li {
    margin-bottom: 5px; }
    .header .l li :last-child, .header .r li :last-child {
      margin-bottom: 0; }
  .header .inline-icons .skype {
    position: absolute;
    z-index: 100; }
  .header .inline-icons .skype-addr {
    margin-left: 23px; }

.through-teaser {
  position: relative;
  height: 308px;
  background-image: url("../img/mpTeaser.jpg");
  background-repeat: no-repeat;
  background-position: 0 0; }

.through-teaser > div {
  position: absolute;
  width: 100%;
  bottom: 0; }

.through-teaser > div:last-child {
  bottom: 26px;
  z-index: 10; }

.through-teaser .overlay {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 90px;
  bottom: 0;
  background-image: url("../img/mountains.png");
  background-repeat: no-repeat;
  background-position: 0 100%; }

.through-teaser .search-form {
  position: relative;
  width: 296px;
  height: 324px;
  padding: 8px 22px;
  margin: 0 auto;
  background-image: url("../img/searchForm.png");
  background-repeat: no-repeat;
  text-align: center; }

.through-teaser .logo {
  position: absolute;
  top: 40px;
  left: 80px; }

.through-teaser .logo a {
  display: block;
  width: 177px;
  height: 85px; }

.through-teaser .micro-nav {
  text-align: center; }

.through-teaser .micro-nav a {
  display: inline-block;
  width: 11px;
  height: 10px;
  margin: 0 8px;
  background-image: url("../img/microNav.png"); }

.through-teaser .micro-nav a:nth-child(3) {
  width: 11px;
  background-position: -26px 0; }

.through-teaser .micro-nav a:nth-child(5) {
  width: 13px;
  background-position: -13px 0; }

.through-teaser .micro-nav i {
  display: inline-block;
  width: 0;
  height: 10px;
  border-right: 1px dotted #fff; }

.through-teaser .social {
  margin-top: 73px; }

.through-teaser .social a {
  display: block;
  width: 41px;
  height: 41px;
  background-image: url("../img/social1.png");
  background-repeat: no-repeat; }

.through-teaser .social .r a {
  background-position: -41px 0; }

.through-teaser input,
.through-teaser button {
  display: block;
  margin: 0 auto; }

.through-teaser form input {
  width: 283px;
  padding: 5px 5px;
  margin-bottom: 10px;
  line-height: 1.3em;
  text-align: center;
  border: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

.through-teaser button {
  padding: 5px 20px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #fff;
  background-color: #00ceff;
  box-shadow: 0 1px 1px #009fcb;
  -moz-box-shadow: 0 1px 1px #009fcb; }

.through-teaser .callback-form {
  display: none;
  width: 258px;
  height: 218px;
  padding: 70px 15px 0 15px;
  margin: 0 auto;
  background-image: url("../img/callbackForm.png");
  background-repeat: no-repeat; }

.through-teaser .callback-form input {
  margin-bottom: 0; }

.through-teaser .callback-form input[type="text"] {
  width: 100%;
  text-align: left; }

.through-teaser .callback-form .table {
  width: 215px; }

.through-teaser .callback-form .td {
  padding-bottom: 10px; }

.through-teaser .callback-form .tr .td:first-child {
  width: 45px;
  padding-right: 5px;
  text-align: right; }

.through-teaser .callback-form .captcha .td {
  padding-right: 17px; }

.through-teaser .callback-form .captcha .td:last-child {
  padding-right: 0; }

.through-teaser .callback-form button {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ff8400;
  box-shadow: 0 1px 1px #e17400;
  -moz-box-shadow: 0 1px 1px #e17400; }

.through-teaser .callback-form button:hover {
  background-color: #e17400; }

.menu {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1em;
  text-align: center; }

.menu a {
  display: inline-block;
  _float: left;
  _width: 12.66%;
  padding: 10px 0;
  margin: 0 3%;
  text-align: center;
  border-top: 2px #ccc solid;
  text-decoration: none; }

.menu a:last-child {
  float: none; }

.menu a:hover,
.menu a.active {
  color: #0096ff;
  border-color: #0096ff; }

.white-rating span {
  display: inline-block;
  width: 17px;
  height: 16px;
  background-image: url("../img/star.png");
  background-repeat: no-repeat;
  line-height: 1em; }

.rating {
  text-align: center; }

.rating li {
  display: inline-block;
  width: 11px;
  height: 10px;
  margin-right: 1px;
  background-image: url("../img/greenStar.png"); }

.rating li:last-child {
  float: none;
  margin-right: 0; }

.hotels-teaser {
  display: table;
  width: 100%;
  background-color: #71b7df; }
  .hotels-teaser ul {
    margin: 15px 15px 15px 80px; }
  .hotels-teaser li {
    margin-bottom: 10px; }
    .hotels-teaser li:last-child {
      margin-bottom: 0; }
  .hotels-teaser .items {
    display: table-cell;
    width: 33.334%;
    padding-bottom: 10px; }
    .hotels-teaser .items:last-child {
      float: none; }
    .hotels-teaser .items .title .l {
      font-size: 16px;
      font-weight: 700; }
  .hotels-teaser .item1 {
    background-color: #5f9fc4; }
    .hotels-teaser .item1 .title {
      background-color: #4f91ba; }
  .hotels-teaser .item2 {
    background-color: #4d89ac; }
    .hotels-teaser .item2 .title {
      background-color: #3d7aa0; }
  .hotels-teaser .item3 {
    background-color: #ff4e00; }
    .hotels-teaser .item3 .title {
      background-color: #ff3000; }
  .hotels-teaser .item4 {
    background-color: #ff6c00; }
    .hotels-teaser .item4 .title {
      background-color: #ff4c00; }
  .hotels-teaser .item5 {
    background-color: #ff8400; }
    .hotels-teaser .item5 .title {
      background-color: #ff6500; }
  .hotels-teaser .white-rating, .hotels-teaser .title {
    padding: 6px 10px; }
  .hotels-teaser .title .r {
    font-style: italic; }
  .hotels-teaser .more {
    text-align: right; }
    .hotels-teaser .more a {
      display: inline-block;
      padding-right: 20px;
      margin-right: 10px;
      text-decoration: none;
      border-bottom: 1px dashed #fff;
      background-image: url("../img/rarr.png");
      background-repeat: no-repeat;
      background-position: 100% 57%; }
      .hotels-teaser .more a:hover {
        border-color: transparent; }

.submenu {
  margin-bottom: 60px; }

.submenu li {
  border-bottom: 1px solid #ff8400;
  font-size: 16px;
  font-weight: 700;
  line-height: 1em;
  text-align: center; }

.submenu li:last-child {
  border: none; }

.submenu li a {
  display: table-cell;
  width: 202px;
  height: 30px;
  padding: 0 20px;
  vertical-align: middle;
  text-decoration: none; }

.submenu li.active,
.submenu li ul {
  background-color: #ff8400; }

.submenu li li {
  text-align: left;
  font-size: 12px;
  font-weight: 400; }

.submenu li li:hover {
  background-color: #ff9523; }

.rating-submenu {
  background-color: #0073c3; }

.rating-submenu li {
  border-bottom: 1px solid #0096ff;
  cursor: pointer; }

.rating-submenu li.active,
.rating-submenu li ul {
  background-color: #0096ff; }

.rating-submenu li > span {
  margin: 6px 0; }

.rating-submenu li li:hover {
  background-color: #2da9ff; }

.submenu li li.active,
.rating-submenu li li.active {
  background-color: #ff9523; }

.common-submenu a {
  display: block;
  margin-bottom: 4px; }

.common-submenu a:last-child {
  margin-bottom: 0; }

.content-h {
  padding-left: 15px;
  border-left: 3px #0096ff solid;
  line-height: 1.1em; }

.content-h h1 {
  margin-bottom: 10px; }

.hotels-grid .items,
.hotels-grid .items .price {
  width: 176px; }

.hotels-grid .items {
  position: relative;
  display: inline-block;
  float: left;
  height: 249px;
  margin: 0 34px 30px 0;
  background-color: #e1e1e1;
  text-align: center; }

.hotels-grid .items:nth-child(3n) {
  margin-right: 0; }

.hotels-grid .items:last-child {
  float: none; }

.hotels-grid .items .teaser {
  padding: 4px; }

.hotels-grid .items .teaser dl {
  margin-top: 6px; }

.hotels-grid .items .price {
  position: absolute;
  bottom: 0;
  height: 24px;
  padding-top: 12px;
  font-size: 10px;
  line-height: 1em; }

.hotels-grid .items .price span {
  font-size: 24px; }

.hotels-grid .complex-name i.cableway {
  display: inline-block;
  width: 19px;
  height: 9px;
  background-image: url("../img/cableway.png");
  background-repeat: no-repeat; }

.hotel-h {
  width: 480px; }

.hotel-features {
  display: table;
  padding-bottom: 15px;
  margin: 0 auto;
  text-align: center; }

.hotel-features li {
  display: table-cell;
  width: 70px;
  padding: 0 10px;
  margin: 0 5px;
  font-size: 11px; }

.hotel-features li i {
  display: block;
  clear: both;
  width: 48px;
  height: 48px;
  margin: 0 auto 5px;
  background-image: url("../img/hotelIcons.png");
  background-repeat: no-repeat;
  background-position: 50% 0; }

.hotel-features li span {
  display: block;
  height: 40px; }

.hotel-features .tv i {
  background-position: 0px 0; }

.hotel-features .bar i {
  background-position: -48px 0; }

.hotel-features .wifi i {
  background-position: -96px 0; }

.hotel-features .ski i {
  background-position: -144px 0; }

.hotel-features .disabled i {
  background-position: -192px 0; }

.hotel-features .iron i {
  background-position: -240px 0; }

.hotel-features .kids i {
  background-position: -288px 0; }

.hotel-features .safe i {
  background-position: -336px 0; }

.hotel-features .conference i {
  background-position: -384px 0; }

.hotel-features .parking i {
  background-position: -432px 0; }

.hotel-features .climate i {
  background-position: -480px 0; }

.hotel-features .food i {
  background-position: -528px 0; }

.hotel-features .gym i {
  background-position: -576px 0; }

.hotel-features .cards i {
  background-position: -624px 0; }

.hotel-features .pool i {
  background-position: -672px 0; }

.hotel-features .spa i {
  background-position: -720px 0; }

.hotel-features .pets i {
  background-position: -768px 0; }

.resorts-grid .items {
  display: table;
  margin-bottom: 30px; }

.resorts-grid .items:last-child {
  margin-bottom: 0; }

.resorts-grid .items .image {
  width: 190px; }

.resorts-grid .items .image,
.resorts-grid .items .teaser {
  display: table-cell;
  vertical-align: top; }

.sitemap ul {
  margin-left: 30px; }

.sitemap ul,
.sitemap li {
  margin-top: 7px; }

.sitemap ul:first-child,
.sitemap li:first-child {
  margin-top: 0; }

.search-grid .items {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc; }

.search-grid .items:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none; }

.search-grid .items .pp {
  position: absolute;
  left: -35px;
  font-style: normal; }

.search-grid .items b {
  background-color: #ffff00;
  font-weight: 400; }

.photo-gallery-teaser .jcarousel-wrapper {
  position: relative; }

.photo-gallery-teaser .jcarousel {
  width: 555px;
  margin: 0 auto; }

.photo-gallery-teaser .jcarousel li {
  width: 168px;
  margin-right: 25px;
  position: relative;
  text-align: center; }

.photo-gallery-teaser .jcarousel li:last-child {
  margin-right: 0; }

.photo-gallery-teaser .jcarousel li .teaser {
  display: block;
  width: 90%;
  margin: 6px auto 0; }

.photo-gallery-teaser .jcarousel-controls {
  position: absolute;
  top: 50%;
  width: 18px;
  height: 33px;
  margin-top: -26px;
  background-image: url("../img/shift.png"); }

.photo-gallery-teaser .jcarousel-controls.prev {
  left: 0; }

.photo-gallery-teaser .jcarousel-controls.next {
  right: 0;
  background-position: -18px 0; }

.photo-gallery-teaser .name {
  font-size: 24px;
  line-height: 1.1em; }

.datepicker {
  position: relative; }

.datepicker img {
  position: absolute;
  z-index: 1;
  top: 7px;
  right: 7px; }

.footer {
  display: table;
  width: 100%;
  padding-bottom: 20px;
  background-image: url("../img/footer.jpg");
  background-repeat: no-repeat; }

.footer > div {
  display: table-cell;
  padding: 15px;
  height: 118px;
  vertical-align: top; }

.footer > div:last-child {
  border-right: none; }

.footer .logo a {
  display: block;
  width: 199px;
  height: 57px;
  background-image: url("../img/footerLogo.png");
  background-repeat: no-repeat; }

.footer #fs1 {
  padding-top: 10px; }

.footer #fs2,
.footer #fs3,
.footer #fs4 {
  width: 220px;
  padding-top: 35px; }

.footer #fs4 ul {
  float: left;
  margin-right: 20px; }

.footer #fs4 ul:last-child {
  float: none;
  margin-right: 0; }

.footer li {
  margin-bottom: 5px; }

.footer .title {
  margin-bottom: 10px;
  _line-height: 1em; }

.footer .inline-icons i {
  background-image: url("../img/imIcons.png"); }

/* ----------------------------- */
.chapters-menu {
  background-color: #324b5b;
  line-height: 1em; }

.chapters-menu li {
  position: relative;
  display: inline-block;
  float: left; }

.chapters-menu li:last-child {
  float: none; }

.chapters-menu a {
  display: block;
  padding: 13px;
  transition: all 0.2s ease 0s; }

.chapters-menu .active a,
.chapters-menu a:hover {
  background-color: #7ebf00; }

.chapters-menu .active i {
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 9px;
  height: 5px;
  margin-left: -4px;
  background-image: url("../img/chmArrow.png");
  background-repeat: no-repeat; }

.breadcrumbs {
  margin-left: 9px; }

.breadcrumbs li {
  display: inline-block;
  float: left;
  margin-right: 3px; }

.breadcrumbs li:last-child {
  float: none; }

.content .common-wrapper {
  width: 597px;
  margin: 0 auto; }

/*# sourceMappingURL=common.css.map */
