<html>
{{meta}}
{{head}}
<body>

{{loginForm}}

<div class="main-wrapper">
    <!-- header -->
    <div class="header">
        <div class="c-container ">
            <div class="l logo"><a href="/panel/"><img src="/panel/img/logo.png"></a></div>
            <div class="r user-data">{{userData}}</div>
            <div class="clear"></div>
        </div>
    </div>
    <!-- main menu -->
    <div class="mmenu">
        <div class="c-container">
            <ul>
                <li class="active"><a href="/panel/">Панель управления</a></li>
                <li><a href="/" target="_blank">Сайт</a></li>
            </ul>
        </div>
    </div>
    <!-- content -->
    <div class="content">
        <div class="c-container">
            {{}}
        </div>
    </div>
    <!-- footer -->
    <div class="footer">
        <div class="c-container">
            <div class="border">
                <table cellspacing="5" class="separated small black">
                    <tr>
                        <!--
                        <td>Разработка</td>
                        <td><a target="_blank" href="http://www.cometstudio.ru/"><img alt="создание сайтов" src="/panel/img/cometSmall.png"></a></td>
                        <td><a target="_blank" href="http://www.cometstudio.ru/" title="создание сайтов" >Комета</a></td>
                        -->
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>