{{h1}}
<div class="license hw forms">
    <form method="POST" name="edit">
        <dl>Город</dl>
        <dt><input name="name" type="text" class="fw" /></dt>
        <dl>Домен</dl>
        <dt><input name="domain" type="text" class="fw" /></dt>
        <dl>Название базы данных</dl>
        <dt><input name="dbName" type="text" class="fw" /></dt>
        <dl>Пользователь базы данных</dl>
        <dt><input name="dbUser" type="text" class="fw" /></dt>
        <dl>Пароль пользователя базы данных</dl>
        <dt><input name="userPwd" type="password" class="fw" /></dt>
        <dl>Имя администратора нового сайта</dl>
        <dt><input name="adminName" type="text" class="fw" /></dt>
        <dl>Login администратора нового сайта</dl>
        <dt><input name="login" type="text" class="fw" /></dt>
        <dl>Пароль администратора нового сайта</dl>
        <dt><input name="pwd" type="password" class="fw" /></dt>

        <button onclick="return issueLicense();" class="buttons" opt="Подождите...">Создать</button>
    </form>
</div>