.h{ display: none; }

.l{ float: left; } .r{ float: right; }

.w100{ width: 100%; } .w75{ width: 75%; } .w50{ width: 50%; } .w25{ width: 25%; }

.clear{
    position: relative!important;
    float: none!important;
    clear: both!important;
    overflow: hidden!important;
}

.extra-section{
    margin-bottom: 40px;
}
.section{
    margin-bottom: 20px;
}
.mini-section{
    margin-bottom: 10px;
}
.micro-section{
    margin-bottom: 5px;
}

.c14{
    width: 182px;
}
.c13{
    width: 242px;
}
.c12{
    width: 50%;
}
.c23{
    width: 698px;
}
.lm{
    margin-left: 60px;
}
.mini-lm{
    margin-left: 15px;
}
.fc23{
    width: 758px;
}

.table{
    display: table;
}
.tr{
    display: table-row;
}
.td{
    display: table-cell;
    vertical-align: middle;
}

/* Customise */

body{
    background-image: url("../img/body.png");
    background-color: #e3e3e3;
}

.content-wrapper{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;
}

.inline-icons i{
    display: inline-block;
    float: left;
    width: 19px;
    height: 19px;
    margin-right: 3px;
    background-image: url("../img/im.png");
}
.inline-icons i.skype{
    background-position: -19px 0;
}
.inline-icons span{
    display: inline-block;
    float: left;
    padding-top: 1px;
    margin: 0 8px 0 0;
}
.inline-icons span:last-child{
    float: none;
}

.callback-contols{
    position: absolute;
    width: 100%;
}
.callback-contols > div{
    width: 200px;
    margin: 10px auto 0;
    text-align: center;
}
.callback-contols a{
    display: inline-block;
    height: 63px;
    background-image: url("../img/callback.png");
    background-repeat: no-repeat;
    background-position: 50% 100%;
}

.header{
    padding: 10px 75px;
}

.header .l li,
.header .r li{
    margin-bottom: 5px;
}
.header .l li:last-child,
.header .r li:last-child{
    margin-bottom: 0;
}

.through-teaser{
    position: relative;
    height: 308px;
    background-image: url("../img/mpTeaser.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.through-teaser > div{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.through-teaser > div:last-child{
    bottom: 26px;
    z-index: 10;
}
.through-teaser .overlay{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 90px;
    bottom: 0;
    background-image: url("../img/mountains.png");
    background-repeat: no-repeat;
    background-position: 0 100%;
}

.through-teaser .search-form{
    width: 296px;
    height: 324px;
    padding: 8px 22px;
    margin: 0 auto;
    background-image: url("../img/searchForm.png");
    background-repeat: no-repeat;
    text-align: center;
}
.through-teaser .micro-nav{
    text-align: center;
}
.through-teaser .micro-nav a{
    display: inline-block;
    width: 11px;
    height: 10px;
    margin: 0 8px;
    background-image: url("../img/microNav.png");
}
.through-teaser .micro-nav a:nth-child(3){
    width: 11px;
    background-position: -26px 0;
}
.through-teaser .micro-nav a:nth-child(5){
    width: 13px;
    background-position: -13px 0;
}
.through-teaser .micro-nav i{
    display: inline-block;
    width: 0;
    height: 10px;
    border-right: 1px dotted #fff;
}
.through-teaser .social{
    margin-top: 73px;
}
.through-teaser .social a{
    display: block;
    width: 41px;
    height: 41px;
    background-image: url("../img/social1.png");
    background-repeat: no-repeat;
}
.through-teaser .social .r a{
    background-position: -41px 0;
}
.through-teaser input,
.through-teaser button{
    display: block;
    margin: 0 auto;
}

.through-teaser form input{
    width: 283px;
    padding: 5px 5px;
    margin-bottom: 10px;
    line-height: 1.3em;
    text-align: center;
    border: none;
    border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
}
.through-teaser button{
    padding: 5px 20px;
    border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
    border: 1px solid #fff;
    background-color: #00ceff;
    box-shadow: 0 1px 1px #009fcb;
        -moz-box-shadow: 0 1px 1px #009fcb;
}

.through-teaser .callback-form{
    display: none;
    width: 258px;
    height: 218px;
    padding: 70px 15px 0 15px;
    margin: 0 auto;
    background-image: url("../img/callbackForm.png");
    background-repeat: no-repeat;
}
.through-teaser .callback-form input{
    margin-bottom: 0;
}
.through-teaser .callback-form input[type="text"]{
    width: 100%;
    text-align: left;
}
.through-teaser .callback-form .table{
    width: 215px;
}
.through-teaser .callback-form .td{
    padding-bottom: 10px;
}
.through-teaser .callback-form .tr .td:first-child{
    width: 45px;
    padding-right: 5px;
    text-align: right;
}
.through-teaser .callback-form .captcha .td{
    padding-right: 17px;
}
.through-teaser .callback-form .captcha .td:last-child{
    padding-right: 0;
}
.through-teaser .callback-form button{
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ff8400;
    box-shadow: 0 1px 1px #e17400;
        -moz-box-shadow: 0 1px 1px #e17400;
}
.through-teaser .callback-form button:hover{
    background-color: #e17400;
}

.menu{
    margin-top: 10px;
    font-size: 16px;
    line-height: 1em;
}
.menu a{
    display: inline-block;
    float: left;
    width: 12.66%;
    padding: 10px 0;
    margin: 0 2%;
    text-align: center;
    border-top: 2px #ccc solid;
    text-decoration: none;
}
.menu a:last-child{
    float: none;
}
.menu a:hover,
.menu a.active{
    color: #0096ff;
    border-color: #0096ff;
}

.white-rating span{
    display: inline-block;
    width: 17px;
    height: 16px;
    background-image: url("../img/star.png");
    background-repeat: no-repeat;
    line-height: 1em;
}

.rating{
    text-align: center;
}
.rating li{
    display: inline-block;
    width: 11px;
    height: 10px;
    margin-right: 1px;
    background-image: url("../img/greenStar.png");
}
.rating li:last-child{
    float: none;
    margin-right: 0;
}

.hotels-teaser{
    background-color: #71b7df;
}
.hotels-teaser .items{
    display: inline-block;
    float: left;
    width: 33.334%;
    padding-bottom: 10px;
}
.hotels-teaser .items:last-child{
    float: none;
}
.hotels-teaser .items .title{
    background-color: #61acd9;
}
.hotels-teaser .items .title .l{
    font-size: 16px;
    font-weight: 700;
}
.hotels-teaser .item1{
    background-color: #5f9fc4;
}
.hotels-teaser .item1 .title{
    background-color: #4f91ba;
}
.hotels-teaser .item2{
    background-color: #4d89ac;
}
.hotels-teaser .item2 .title{
    background-color: #3d7aa0;
}
.hotels-teaser .item3{
    background-color: #ff4e00;
}
.hotels-teaser .item3 .title{
    background-color: #ff3000;
}
.hotels-teaser .item4{
    background-color: #ff6c00;
}
.hotels-teaser .item4 .title{
    background-color: #ff4c00;
}
.hotels-teaser .item5{
    background-color: #ff8400;
}
.hotels-teaser .item5 .title{
    background-color: #ff6500;
}
.hotels-teaser li{
    margin-bottom: 10px;
}
.hotels-teaser li:last-child{
    margin-bottom: 0;
}
.hotels-teaser .white-rating,
.hotels-teaser .title{
    padding: 6px 10px;
}
.hotels-teaser .title .l{

}
.hotels-teaser .title .r{
    font-style: italic;
}
.hotels-teaser ul{
    margin: 15px 15px 15px 80px;
}
.hotels-teaser .more{
    text-align: right;
}
.hotels-teaser .more a{
    display: inline-block;
    padding-right: 20px;
    margin-right: 10px;
    text-decoration: none;
    border-bottom: 1px dashed #fff;
    background-image: url("../img/rarr.png");
    background-repeat: no-repeat;
    background-position: 100% 57%;
}
.hotels-teaser .more a:hover{
    border-color: transparent;
}

.submenu{
    margin-bottom: 60px;
}
.submenu li{
    border-bottom: 1px solid #ff8400;
    font-size: 16px;
    font-weight: 700;
    line-height: 1em;
    text-align: center;
}
.submenu li:last-child{
    border: none;
}
.submenu li a{
    display: table-cell;
    width: 202px;
    height: 30px;
    padding: 0 20px;
    vertical-align: middle;
    text-decoration: none;
}
.submenu li.active,
.submenu li ul{
    background-color: #ff8400;
}
.submenu li li{
    text-align: left;
    font-size: 12px;
    font-weight: 400;
}
.submenu li li:hover{
    background-color: #ff9523;
}

.rating-submenu{
    background-color: #0073c3;
}
.rating-submenu li{
    border-bottom: 1px solid #0096ff;
    cursor: pointer;
}
.rating-submenu li.active,
.rating-submenu li ul{
    background-color: #0096ff;
}
.rating-submenu li > span{
    margin: 6px 0;
}
.rating-submenu li li:hover{
    background-color: #2da9ff;
}
.submenu li li.active,
.rating-submenu li li.active{
    background-color: #ff9523;
}

.content-h{
    padding-left: 15px;
    border-left: 3px #0096ff solid;
    line-height: 1.1em;
}
.content-h h1{
    margin-bottom: 10px;
}

.hotels-grid .items,
.hotels-grid .items .price{
    width: 176px;
}
.hotels-grid .items{
    position: relative;
    display: inline-block;
    float: left;
    height: 249px;
    margin: 0 34px 30px 0;
    background-color: #e1e1e1;
    text-align: center;
}
.hotels-grid .items:nth-child(3n){
    margin-right: 0;
}
.hotels-grid .items:last-child{
    float: none;
}
.hotels-grid .items .teaser{
    padding: 4px;
}
.hotels-grid .items .teaser dl{
    margin-top: 6px;
}
.hotels-grid .items .price{
    position: absolute;
    bottom: 0;
    height: 24px;
    padding-top: 12px;
    font-size: 10px;
    line-height: 1em;
}
.hotels-grid .items .price span{
    font-size: 24px;
}
.hotels-grid .complex-name i.cableway{
    display: inline-block;
    width: 19px;
    height: 9px;
    background-image: url("../img/cableway.png");
    background-repeat: no-repeat;
}
.hotel-h{
    width: 480px;
}

.hotel-features{
    padding-top: 15px;
    border-top: 1px #ccc solid;
    text-align: center;
}
.hotel-features li{
    display: inline-block;
    margin: 0 5px;
    font-size: 11px;
}
.hotel-features li i{
    display: block;
    clear: both;
    width: 32px;
    margin: 0 auto 5px;
    background-image: url("../img/hotelIcons.png");
    background-repeat: no-repeat;
    background-position: 50% 0;

}
.hotel-features .wifi i{
    height: 23px
}
.hotel-features .bar i{
    background-position: 0 -23px;
    height: 30px
}
.hotel-features .pool i{
    background-position: 0 -53px;
    height: 22px
}
.hotel-features .tv i{
    background-position: 0 -75px;
    height: 28px
}
.hotel-features .gym i{
    background-position: 0 -102px;
    height: 27px
}

.resorts-grid .items{
    display: table;
    margin-bottom: 30px;
}
.resorts-grid .items:last-child{
    margin-bottom: 0;
}
.resorts-grid .items .image{
    width: 190px;
}
.resorts-grid .items .image,
.resorts-grid .items .teaser{
    display: table-cell;
    vertical-align: top;
}

.sitemap ul{
    margin-left: 30px;
}
.sitemap ul,
.sitemap li{
    margin-top: 7px;
}
.sitemap ul:first-child,
.sitemap li:first-child{
    margin-top: 0;
}

.search-grid .items{
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.search-grid .items:last-child{
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}
.search-grid .items .pp{
    position: absolute;
    left: -35px;
    font-style: normal;
}
.search-grid .items b{
    background-color: #ffff00;
    font-weight: 400;
}

.photo-gallery-teaser .jcarousel-wrapper{
    position: relative;
}
.photo-gallery-teaser .jcarousel{
    width: 555px;
    margin: 0 auto;
}
.photo-gallery-teaser .jcarousel li{
    width: 168px;
    margin-right: 25px;
    position: relative;
    text-align: center;
}
.photo-gallery-teaser .jcarousel li:last-child{
    margin-right: 0;
}
.photo-gallery-teaser .jcarousel li .teaser{
    display: block;
    width: 90%;
    margin: 6px auto 0;
}
.photo-gallery-teaser .jcarousel-controls{
    position: absolute;
    top: 50%;
    width: 18px;
    height: 33px;
    margin-top: -26px;
    background-image: url("../img/shift.png");
}
.photo-gallery-teaser .jcarousel-controls.prev{
    left: 0;
}
.photo-gallery-teaser .jcarousel-controls.next{
    right: 0;
    background-position: -18px 0;
}
.photo-gallery-teaser .name{
    font-size: 24px;
    line-height: 1.1em;
}

.booking-form input[type="text"],
.booking-form textarea,
.booking-form .selectbox{
    line-height: 1.2em;
    border: none;
    background-color: #d9d9d9;
    background-image: url("../img/grayInputs.png");
    background-repeat: repeat-x;
}
.booking-form input[type="text"],
.booking-form textarea{
    padding: 6px;
    border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
}
.booking-form .row-wrapper{
    margin-bottom: 12px;
}
.booking-form .row{
    display: table-row;
}
.booking-form .cell{
    display: table-cell;
    vertical-align: middle;
}
.booking-form .cell:first-child{
    width: 315px;
    padding-right: 15px;
    text-align: right;
}
.booking-form .cell:last-child{
    width: 200px;
}
.booking-form .cell.vat{
    vertical-align: top;
}

.datepicker{
    position: relative;
}
.datepicker img{
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 5px;
}

.footer{
    display: table;
    width: 100%;
    padding-bottom: 20px;
    background-image: url("../img/footer.jpg");
    background-repeat: no-repeat;
}
.footer > div{
    display: table-cell;
    padding: 15px;
    height: 118px;
    vertical-align: top;
}
.footer > div:last-child{
    border-right: none;
}
.footer .logo a{
    display: block;
    width: 199px;
    height: 57px;
    background-image: url("../img/footerLogo.png");
    background-repeat: no-repeat;
}
.footer #fs1{
    padding-top: 10px;
}
.footer #fs2,
.footer #fs3,
.footer #fs4{
    width: 220px;
    padding-top: 35px;
}
.footer #fs4 ul{
    float: left;
    margin-right: 20px;
}
.footer #fs4 ul:last-child{
    float: none;
    margin-right: 0;
}
.footer li{
    margin-bottom: 5px;
}
.footer .title{
    margin-bottom: 10px;
    line-height: 1em;
}
.footer .inline-icons i{
    background-image: url("../img/imIcons.png");
}

/* ----------------------------- */


.chapters-menu{
    background-color: #324b5b;
    line-height: 1em;
}
.chapters-menu li{
    position: relative;
    display: inline-block;
    float: left;
}
.chapters-menu li:last-child{
    float: none;
}
.chapters-menu a{
    display: block;
    padding: 13px;
    transition: all 0.2s ease 0s;
}
.chapters-menu .active a,
.chapters-menu a:hover{
    background-color: #7ebf00;
}
.chapters-menu .active i{
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 9px;
    height: 5px;
    margin-left: -4px;
    background-image: url("../img/chmArrow.png");
    background-repeat: no-repeat;
}

.breadcrumbs{
    margin-left: 9px;
}
.breadcrumbs li{
    display: inline-block;
    float: left;
    margin-right: 3px;
}
.breadcrumbs li:last-child{
    float: none;
}

.content .common-wrapper{
    width: 597px;
    margin: 0 auto;
}