<!DOCTYPE html>
<html>
{{meta}}
{{head}}
<body>

<div class="content-wrapper">

    <div class="small orange callback-contols">
        <div>
            <a href="javascript:toggleCallbackForm();">Заказать бесплатный звонок</a>
        </div>
    </div>

    <div class="header">

        <ul class="small l mini-section">
            {{headerContacts;id:1}}
        </ul>

        <ul class="small r">
            {{headerContacts;id:2}}
        </ul>

        <div class="clear"></div>
    </div>

    <div class="through-teaser">
        <div>
            <div class="search-form">
                <div class="logo">
                    <a href="/"></a>
                </div>
                <div class="micro-nav">
                    <a href="/"></a><i></i><a href="/sitemap/"></a><i></i><a href="mailto:{{email}}"></a>
                </div>
                <div class="social">
                    {{facebookLink}}
                    {{vkLink}}
                    <div class="clear"></div>
                </div>
                {{searchForm}}
            </div>

            <div class="overlay"></div>
        </div>

        <div>
            <div class="white small callback-form">
                {{callbackForm}}
            </div>
        </div>
    </div>

    {{menu}}

    <div class="content">
        {{}}
    </div>

    <div class="blue-bg white footer">
        <div id="fs1" class="logo">
            <a href="index.html"></a>
        </div>
        <div id="fs2" class="small">
            <ul>
                {{footerContacts;id:1}}
            </ul>
        </div>
        <div id="fs3" class="small">
            <ul>
                {{footerContacts;id:2}}
            </ul>
        </div>
        <div id="fs4" class="small">
            <div class="extrablack title super-micro-section">Группа компаний "Курортный Отдых:</div>
            {{footerMenu}}
            <div class="clear"></div>
        </div>
    </div>
</div>
{{bottomJS}}
<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter26380230 = new Ya.Metrika({id:26380230, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/26380230" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
</body>
</html>