<div class="extra-section">
    <div class="l c23">
        <div class="content-h extra-section">
            <h1>{{h1}}</h1>
            {{breadcrumbs}}
        </div>

        <div class="lm small booking-form">
            <form method="post">
                <div class="section">
                    <div class="row-wrapper">
                        <div class="row">
                            <div class="cell">Кол-во человек<span class="red b">*</span>:</div>
                            <div class="cell">
                                <div class="l">
                                    <select name="" class="w75">
                                        <option value=""></option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div class="r tar">
                                    <select name="" class="r w75">
                                        <option value=""></option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div class="r" style="margin: 3px 5px 0 0;">Номеров:</div>
                            </div>
                        </div>
                    </div>
                    <div class="row-wrapper">
                        <div class="row">
                            <div class="cell">Кол-во детей:</div>
                            <div class="cell"><input name="" type="text" class="w100" /></div>
                        </div>
                    </div>
                    <div class="row-wrapper">
                        <div class="row">
                            <div class="cell">Возраст детей:</div>
                            <div class="cell"><input name="" type="text" class="w100" /></div>
                        </div>
                    </div>
                    <div class="row-wrapper">
                        <div class="row">
                            <div class="cell">Дата пребывания<span class="red b">*</span>  с:</div>
                            <div class="cell"><div class="datepicker"><input name="" type="text" class="date w100" /></div></div>
                        </div>
                    </div>
                    <div class="row-wrapper">
                        <div class="row">
                            <div class="cell">по:</div>
                            <div class="cell"><div class="datepicker"><input name="" type="text" class="date w100" /></div></div>
                        </div>
                    </div>
                    <div class="row-wrapper">
                        <div class="row">
                            <div class="cell">Категория номера:<span class="red b">*</span></div>
                            <div class="cell"><input name="" type="text" class="w100" /></div>
                        </div>
                    </div>
                    <div class="row-wrapper">
                        <div class="row">
                            <div class="vat cell">Дополнительные пожелания:</div>
                            <div class="cell"><textarea name="" class="w100"></textarea></div>
                        </div>
                    </div>
                    <div class="row-wrapper">
                        <div class="row">
                            <div class="cell">Фамилия:<span class="red b">*</span></div>
                            <div class="cell"><input name="" type="text" class="w100" /></div>
                        </div>
                    </div>
                    <div class="row-wrapper">
                        <div class="row">
                            <div class="cell">Имя:<span class="red b">*</span></div>
                            <div class="cell"><input name="" type="text" class="w100" /></div>
                        </div>
                    </div>
                    <div class="row-wrapper">
                        <div class="row">
                            <div class="cell">Отчество:</div>
                            <div class="cell"><input name="" type="text" class="w100" /></div>
                        </div>
                    </div>
                    <div class="row-wrapper">
                        <div class="row">
                            <div class="cell">E-mail:<span class="red b">*</span></div>
                            <div class="cell"><input name="" type="text" class="w100" /></div>
                        </div>
                    </div>
                    <div class="row-wrapper">
                        <div class="row">
                            <div class="cell">Телефон:<span class="red b">*</span></div>
                            <div class="cell"><input name="" type="text" class="w100" /></div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="row-wrapper">
                        <div class="row">
                            <div class="cell"></div>
                            <div class="i cell">Для юридических лиц:</div>
                        </div>
                    </div>
                    <div class="row-wrapper">
                        <div class="row">
                            <div class="cell">Название компании:</div>
                            <div class="cell"><input name="" type="text" class="w100" /></div>
                        </div>
                    </div>
                    <div class="row-wrapper">
                        <div class="row">
                            <div class="cell">Факс, на который будет выслан счет на оплату:</div>
                            <div class="cell"><input name="" type="text" class="w100" /></div>
                        </div>
                    </div>
                </div>
                <div class="row-wrapper">
                    <div class="row">
                        <div class="cell"></div>
                        <div class="cell">
                            <div class="l"><button onclick="return false;" class="buttons">Отправить</button></div>
                            <div class="r" style="padding-top: 7px;"><a onclick="$('.booking-form form').clearForm();" href="javascript:void(0);">Очистить форму</a></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="h centered extrablack small ghost arrows-link mini-section">
            <a href="">See all</a>
        </div>
    </div>
    <div class="r c13">
        {{resortsMenu}}

        <div class="mini-section">{{ad;id:2}}</div>
    </div>
    <div class="clear"></div>
</div>