<div class="extra-section">
    <div class="l c23">
        <div class="content-h extra-section">
            <div class="hotel-h l">
                <h1>{{h1}}</h1>
                {{hotelsBreadcrumbs}}
            </div>
            <div class="r">
                {{bookingButton}}
                {{hotelTripAdvisorBanner}}
            </div>
            <div class="clear"></div>
        </div>

        {{hotels}}

        <div class="h centered extrablack small ghost arrows-link mini-section">
            <a href="">See all</a>
        </div>
    </div>
    <div class="r c13">
        {{resortsMenu}}

        <div class="mini-section">{{ad;id:2}}</div>
    </div>
    <div class="clear"></div>
</div>